<div class="container"> 
<div class="row-md-8 col-md-offset-4 mt-5">
  <h2 class="ml-5 col-md-3 text-center d-inline" style="background-color:rgba(205, 197, 197, 0.53);">ログイン</h2>
  <div class="form ml-5 mt-4">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
     <h5 class="ml-5 col-md-3 text-center d-inline" style="background-color:rgba(205, 197, 197, 0.53);">会員の方はこちらからログイン</h5>
     
     <div class="field-group ml-5 mt-5">
      <div class="field">
        <%= f.label :メールアドレス,class: "col-md-2" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "col-md-4" ,placeholder: "sample@sample.com" %>
      </div>
    
      <div class="field mt-2">
        <%= f.label :パスワード,class: "col-md-2" %>
        <%= f.password_field :password, autocomplete: "current-password" ,class: "col-md-4" %>
      </div>
      
      <div class="actions">
        <%= f.submit "ログイン",class: "btn btn-primary col-md-2 mt-5 offset-2" %>
      </div>
    <% end %>
    </div>
    
    <div class="field mt-5">
    <h5 class="ml-5 col-md-3 text-center d-inline" style="background-color:rgba(205, 197, 197, 0.53);">会員登録がお済みでない方</h5>
    <div >
    <div class="mt-4 ml-4">
      <%= link_to "こちら",new_customer_registration_path %>
      <span>から新規登録を行なってください。</span>
    
    </div>
    
  </div>
</div>
</div>
