<div class = "container">

  <div class = "row mt-5">
    <h3 class = "admin-customers-index" style="background-color:rgba(107,90,105,0.1);">会員一覧</h3>
  </div>

  <div class = "row">
    <div class = "col-md-8 mx-auto">
      <table class = "table mt-5">
        <thead>
          <tr style="background-color:rgba(107,90,105,0.1);">
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
         </tr>
        </thead>
      <% @customers.each do |customer| %>
        <tbody>
          <tr>
            <td><%= customer.id %></td>
            <td>
              <%= link_to admin_customer_path(customer.id), class:"text-dark border-bottom" do %>
                <%= customer.last_name %><%= customer.first_name %>
              <% end %>
            </td>
            <td><%= customer.email %></td>
            <td><%= customer.is_user_status ? '退会' : '有効'  %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
      <div class = "justify-content-center">
        <%= paginate @customers %>
      </div>
    </div>
  </div>
  
</div>