<table class = "table">
  <thead>
    <tr style="background-color:rgba(107,90,105,0.1);">
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th>注文ステータス</th>
   </tr>
  </thead>
<% order_details.each do |order_detail| %>
  <tbody>
    <tr>
      <td><%= order_detail.item.name %></td>
      <td><%= order_detail.price %></td>
      <td><%= order_detail.quantity %></td>
      <td><%= order_detail.price %></td>
      <%= form_with model:order_detail,url:admin_order_detail_path(order_detail), local:true do |f| %>
      <td>
        <%= f.select :making_status, options_for_select(OrderDetail.making_statuses_i18n.invert, selected: f.object.making_status) %>
        <%= f.submit "更新", class: "btn btn-success"%>
      </td>
      <% end %>
    </tr>
  </tbody>
  <% end %>
</table>
