
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h5>ショッピングカート</h5>
    </div>
    <div class="col-md-3">
      <%= link_to "カートを空にする",  method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger"%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <table Class="table table-bordered border-dark">
        <thead>
          <tr class="active">
            <th class="col-md-4">商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @subtotal = 0 %>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td><%= cart_item.item.name %></td>
              <td><%= cart_item.item.with_tax_price %></td>
              <td>
                <%= form_for cart_item do |f| %>
                  <%= f.hidden_field :item_id, value: cart_item.item.id %>
                  <%= f.select :quantity, options_for_select((1..20).to_a), include_blank: "個数選択" %>
                  <%= f.submit "変更", class: 'btn btn-success' %>
                <% end %>
              </td>
              <td>
                <%= cart_item.subtotal %>
              </td>
              <td>
                <%= link_to "削除する", cart_items_path, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger" %>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= link_to "買い物を続ける", items_path, class: "btn btn-primary" %>
      </div>
      <div class="col-md-4">
        <table class="table table-bordered border-dark">
            <tr>
              <th class="active">合計金額</th>
              <td><%= @total += cart_item.subtotal %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>