<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h5>注文情報入力</h5>
      <h6><strong>支払方法</strong></h6>
      <%= form_with model: @order, url: orders_check_path, method: :post, local: true do |f| %>
        <div class="form-check">
          <%= f.radio_button :payment_way, :card, checked: "checked" %>
          <%= f.label :payment_way, "クレジットカード", {value: :card, style: "display: inline-block;"} %>
        </div>
        <div class="form-check">
          <%= f.radio_button :payment_way, :transfer %>
          <%= f.label :payment_way, "銀行振込", {value: :transfer, style: "display: inline-block;"} %>
        </div>
        <h6><strong>お届け先</strong></h6>
        <div class="form-check">
          <%= f.radio_button :address_option, 0, checked: "checked" %>
          <%= f.label :address_option_0, "ご自身の住所" %></br>
          <label class="address_option_0 ml-4">
          〒<%= current_customer.postal_code %>
          <%= current_customer.address %></br>
          <%= current_customer.last_name %>
          <%= current_customer.first_name %>
          </label>
        </div>
        <div class="form-check">
          <%= f.radio_button :address_option, 1 %>
          <%= f.label :address_option_1, "登録済み住所から選択" %>
            <div class="form-group ml-4">
              <%= f.collection_select :registered, current_customer.addresses.all, :id, :address %>
            </div>
        </div>
        <div class="form-check">
          <%= f.radio_button :address_option, 2 %>
          <%= f.label :address_option_2, "新しいお届け先" %>
          <div class="form-inline">
            <div class="form-group ml-4">
              <%= f.label :郵便番号（ハイフンなし） %>
              <%= f.text_field :postal_code, class: 'form-control' %>
            </div>
          </div>
          <div class="form-inline">
            <div class="form-group ml-4 mt-3">
              <%= f.label :住所 %>
              <%= f.text_field :address, class: 'ml-5 form-control' %>
            </div>
          </div>
          <div class="form-inline">
            <div class="form-group ml-4 mt-3">
              <%= f.label :氏名 %>
              <%= f.text_field :name, class: 'ml-5 form-control' %>
            </div>
          </div>
        </div>
        <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>