<div class="container-fluid mt-5 mx-5">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-2 product-show">
      <%= attachment_image_tag(@pitem, :image, size: "340x220", fallback: "no_image.jpg" ) %>
    </div>

    <div class="col-xs-6 product-show">
     <p class="lead font-weight-bolder">
          <h2><%= @item.name %></h2>
          </p>
        <div class="field">
          <p class="font-weight-bold"><%= @item.body %></p>
        </div>
        <div class="field product-price">
          <h3>¥ <%= @item.with_tax_price.to_s(:delimited) %>
              <span class="tax">(税込)</span>
          </h3>
        </div>
      </div>
    <%= render 'genre_search'%>
    <div class="col-md-3 offset-md-1">
      <%= attachment_image_tag @items, :image, :fill, 300, 250 %>
    </div>
    <div class="col-md-5 offset-md-1">
      <p class="lead font-weight-bolder">いちごのショートケーキ（ホール）</p></br>
      <p class="font-weight-bold">栃木県産のとちおとめを贅沢に使用しています。</p></br>
      </br>
      </br>
      <p class="font-weight-bold">￥2,750（税込）</p>
      
      <% if @item.is_status == true %>
        <%= form_with model:@cart_item, url:cart_items_path, method: :post, local:true do |f| %>
        <%= f.hidden_field :item_id, value: @item.id %>
        <%= hidden_field :customer_id, :value => current_customer.id %>
        <%= f.select :quantity, [1,2,3,4,5,6,7,8,9,10], {include_blank: '個数選択'}, required:true %>&emsp;
        <%= f.submit 'カートに入れる', class: 'btn btn-success btn-sm' %>
      <% else %>
      <h3>売り切れ中</h3>
      <% end %>    
    </div>
  </div>
</div>
